header {
    background: linear-gradient( rgba(169, 209, 219, 0.842), rgba(111, 172, 187, 0.842));
    box-shadow: 1px 1px 8px 10px #6287b8;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top right, rgba(20, 83, 98, 0.842), rgba(111, 172, 187, 0.842));
}

table,
tr,
td {
    border: 5px solid black;
    background: rgb(119, 200, 233);
}

.tablepos {
    margin-left: auto;
    margin-right: auto;
}

button {
    background: radial-gradient(#1bce8c, #03291b);
    border: solid;
    color: yellow;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mybutton {
    border-radius: 50%;
}

.btn.btn-outline-primary {
    border-radius: 45%;
}

.btn.btn-outline-success {
    border-radius: 45%;
}