* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#c {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

#c2 {
    background: black;
    position: absolute;
    width: 100%;
    height: 10%;
}