* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    background-image: url('images/back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gun {
    width: 75px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box1 {
    position: absolute;
    width: 20%;
    height: 5%;
    background: rgba(0, 0, 0, 0);
    left: 0;
    font-size: 100%;
    font-weight: 600;
    color: white;
}

.box2 {
    position: absolute;
    width: 20%;
    height: 5%;
    background: rgba(0, 0, 0, 0);
    right: 0;
    font-size: 100%;
    font-weight: 600;
    color: white;
    text-align: center;
}

.buttonL {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 1);
    left: 0;
    bottom: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    user-select: none;
}

.buttonR {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 1);
    right: 0;
    bottom: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    user-select: none;
}