.container1 {
    margin: auto;
    box-shadow: 1px 1px 8px 10px #6287b8;
    max-width: 1200px;
    min-width: 200px;
    height: 100%;
}

.container2 {
    padding: 10px;
    width: 1200px;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.container3 {
    padding: 70px;
    max-width: 1200px;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
}

button {
    font-family: impact;
    position: relative;
    border-radius: 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
}

button:before {
    content: '';
    background: blue;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

button:hover {
    animation: squish 0.5s;
}

button:hover:before {
    background: linear-gradient(to right, rgb(175, 40, 51), rgb(33, 31, 204));
    filter: url('#wave');
}

@keyframes squish {
    0% {
        transform: scaley(1);
    }
    60% {
        transform: scaley(1.5);
    }
    80% {
        transform: scaley(0.9);
    }
    100% {
        transform: scaley(1);
    }
}